.header_text {
    background: rgb(233, 63, 63);
    color: whitesmoke;
    text-align: center;
    height: 15%;
    width: 100%;
    padding-top: 40px;
}

.box {
    width: 100%;
    height: 12%;
}

.box-container {
    padding: 15px;
}

.btn-container {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    width: 95%;
    height: 3%;
    border: 0 solid black;
    background: rgb(233, 63, 63);
    text-align: center;
}

.btn {
    text-decoration: none;
    color: whitesmoke;
}

.box-text1 {
    border: 0 solid black;
    background-color: green;
    padding: 10px;
    padding-right: 90%;
    color: whitesmoke;
}

.box-text2 {
    border: 0 solid black;
    background-color: rgb(233, 63, 63);
    padding: 10px;
    padding-right: 90%;
    color: whitesmoke;
}

.box-text3 {
    border: 0 solid black;
    background-color: grey;
    padding: 10px;
    padding-right: 90%;
    color: whitesmoke;
}

option {
    background: grey;
    color: whitesmoke;
}

option:hover {
    background: blue;
}

.balance {
    border: 0 solid black;
    width: 30%;
    background: rgba(173, 216, 209, 0.3);
    padding-right: 5%;
    padding-left: 5%;
}

.display-head {
    display: flex;
    justify-content: space-between;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(243, 229, 178);
    height: 15%;
    padding-top: 0;
    padding: 2%;
    border-radius: 5px;
}

@media screen and (min-width:900px) {
    .container {
        display: flex;
        width: 80%;
        margin: auto;
        padding-top: 5%;
        padding-left: 10%;
    }
    .sub-container {
        width: 40%;
        border: 0 solid black;
    }
}

@media screen and (max-width:900px) {
    .container {
        width: 90%;
        margin: auto;
        padding-top: 5%;
    }
    .sub-container {
        width: 100%;
        border: 0 solid black;
    }
    .box {
        width: 100%;
        height: 5%;
    }
}